<div class="top-bar" id="realEstateMenu" style="display: block;">
<div class="top-bar-left">
<ul class="menu accordion-menu" data-responsive-menu="accordion" role="tablist" aria-multiselectable="true" data-accordionmenu="5338pn-accordionmenu" data-responsivemenu="9q855x-responsivemenu">
<li class="menu-text" role="menuitem">Ethereum Voting app</li>
<li role="menuitem"><a href="#">One</a></li>
<li role="menuitem"><a href="#">Two</a></li>
<li role="menuitem"><a href="#">Three</a></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><a href="#">My Account</a></li>
<li><a class="button">Login</a></li>
</ul>
</div>
</div>